@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "About";
    ViewData["CurrentPage"] = "About";
}

<h1>About us</h1>
<p>Welcome to the blog. Here is more information about us.</p>