@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Contacts";
    ViewData["CurrentPage"] = "Contacts";
}
<h1>Contact us</h1>
<p>You can reach us at example@gmail.com.</p>