@{
    ViewData["Title"] = "Home";
    ViewData["CurrentPage"] = "Home";
    var userName = User.Identity.IsAuthenticated ? User.Identity.Name : "Guest";
}

<div class="container mt-4">
    <h1>Welcome, @userName!</h1>
    <p>Explore our gallery, download software, and much more!</p>
    <a href="@Url.Action("Feed", "Gallery")" class="btn btn-pink">Go to Gallery</a>
    <a href="@Url.Action("Index", "Downloads")" class="btn btn-pink">Go to Downloads</a>
</div>
